<%- include("../partials/header") %>

        <div class="main-content">

            <div class="container form-container">
                <form action="/user/register" class="container w-50" method="POST">

                    <div class="mb-3">

                        <label for="exampleInputUsername" class="form-label"
                            >Username</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="exampleInputUsername"
                            aria-describedby="usernameinput"
                            name="username"
                        />

                    </div>

                    <div class="mb-3">

                        <label for="exampleInputEmail1" class="form-label"
                            >Email address</label
                        >
                        <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            name="email"
                        />
                        <div id="emailHelp" class="form-text">
                            We'll never share your email with anyone else.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"
                            >Password</label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword1"
                            name="password"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

<%- include("../partials/footer") %>